<div class="landing">
  <ngx-slick-carousel class="landing__carousel"
                      [config]="carouselOptions"
                      #slickCarousel
                      appMousewheel
                      (mouseWheelDown)="nextSlide()"
                      (mouseWheelUp)="prevSlide()"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img [src]="'../../../../assets/images/' + slide.src" [alt]="slide.alt" width="100%">
      <span>{{slide.title}}</span>
    </div>
  </ngx-slick-carousel>
</div>
